Repository scrambi/sausage-gitlab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package
  artifacts:
    paths:
    - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add ci file
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Add ci frontend file
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

Edit .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

Edit LICENSE
  LICENSE
Due: none

Edit SausageApplicationIntegrationTest.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
Due: none

Revert "Merge branch 'release-0.0.1' into 'main'"
  .gitlab-ci.yml
  LICENSE
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

Add ci front/back file
  .gitlab-ci.yml
Due: none

Add ci backend file
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Delete .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Add ci back file
  backend/ .gitlab-ci.yml
Due: build-backend-code-job

Add ci front file
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new ci file
  .gitlab-ci.yml
Due: none

Edit .gitlab-ci-back.yml
  backend/ .gitlab-ci-back.yml
Due: build-backend-code-job

Edit .gitlab-ci-front.yml
  frontend/.gitlab-ci-front.yml
Due: build-frontend-code-job

Edit .gitlab-ci-back.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Edit .gitlab-ci-front.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

Edit pom.xml
  backend/pom.xml
Due: build-backend-code-job

Edit .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
